@import '_palette.scss';
$black : #444;
$light-black: $color3;
$light-grey: $color2;
$app-background: #fcfcfa;
$separators-color: $color5;
$icons-color: $color5;
$app-padding: 1rem;
$texts-separation: 0.5rem;
$separators-width: 2px;
$shadow: 0px 5px 8px 0px rgba(0,0,0,0.05);
$light-shadow: 0px 5px 8px 0px rgba(0,0,0,0.03);
